*{

}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw ;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .no-of-notes {
    margin-bottom: 5px;
  }

  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      width: 95%;
    }
  }